<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Passport | Auth</title>

{{!-- MCSS --}}
<link rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

</head>
<body style="body {
display: flex;
min-height: 100vh;
flex-direction: column;
}">


{{!-- main --}}
<main style="main {
flex: 1 0 auto;
}">
{{> _header}}


<div class="container">
{{> _messages}}

{{{body}}}
</div>
</main>


{{!-- footer --}}
{{> _footer}}



{{!-- jquery --}}
<script
src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
{{!-- mcss js widgets --}}
<script
src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<script>
  $('.modal').modal();
</script>
</body>
</html>