<div class="card">
<div class="card-content">
<div class="container">
<p class="flow-text">Register</p>
<div class="row">

<form class="col s12" method="POST">
<div class="row">
<div class="input-field col s12">
<input name="name" type="text" class="validate" value="{{name}}"> 
<label for="name">Name</label>
</div>

</div>

<div class="row">
<div class="input-field col s12">
<input name="email" type="email" class="validate" value="{{email}}">
<label for="email">Email</label>
</div>
</div>

<div class="row">
<div class="input-field col s12">
<input name="password" type="password" class="validate" value="{{password}}">
<label for="password">Password</label>
</div>
</div>

<div class="row">
<div class="input-field col s12">
<input type="password" class="validate" name="password2" value="{{password2}}">
<label for="confirmPassword">Confirm Password</label>
</div>
</div>
<input type="submit" class="black btn pulse" value="Submit">
</form>
</div>
</div>
</div>
</div>